<app-navbar-paciente></app-navbar-paciente>


<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">Evaluacion
          <span *ngIf="notification" class="elementToFadeInAndOut">
            <i class="fa fa-check-circle {{notification.class}}"></i>
            {{notification.message}}
        </span>
        </h1>
        <form  [formGroup]="fg" *ngFor="let fg of evaluacionForms.controls; let i=index" (submit)="recordSubmit(fg)">
          <div class="form-group">
            <label >Cedula</label>
            <input  class="form-control" formControlName="cedula" />
          </div>
          <div class="form-group">
            <label >Trato del Servicio</label>
            <input  class="form-control" type="number" max="10" min="0" formControlName="trato" />
          </div>
          <div class="form-group">
            <label >Higiene Del Hospital</label>
            <input  class="form-control" type="number" max="10" min="0" formControlName="higiene" />
          </div>
          <div class="form-group">
            <label >Puntialidad del Personal</label>
            <input  class="form-control" type="number" max="10" min="0" formControlName="Puntualidad" />
          </div>
          <button type="submit" class="btn btn-primary  btn-lg btn-block">Enviar </button>
        </form>
      </div>
    </div>
  </div>
</div>

