<app-navbar-paciente></app-navbar-paciente>

<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">Inscripción</h1>
        <form  [formGroup]="fg" *ngFor="let fg of pacienteForms.controls; let i=index" (submit)="recordSubmit(fg)">
          <div class="form-group">
            <label >Cedula</label>
            <input  class="form-control" formControlName="cedula" />
          </div>
          <div class="form-group">
            <label >Nombre</label>
            <input  class="form-control" formControlName="nombre" />
          </div>
          <div class="form-group">
            <label >Apellido</label>
            <input  class="form-control" formControlName="apellido" />
          </div>
          <div class="form-group">
            <label >Telefono</label>
            <input  class="form-control" formControlName="telefono" />
          </div>
          <div class="form-group">
            <label >Direccion</label>
            <input class="form-control" formControlName="direccion" />
          </div>
          <div class="form-group">
            <label >Fecha de Nacimiento</label>
            <input type="date" class="form-control" formControlName="nacimiento" />
          </div>
          <div class="form-group">
            <label >Medico</label>
            <select  class="form-control" formControlName="medico">
              <option>
              <option *ngFor=" let item of medicos" value="{{item.cedula}}">{{item.nombre}} {{item.apellido}}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-light  btn-lg btn-block">Actualizar </button>
        </form>
      </div>
    </div>
  </div>
</div>

